# Python Numeric Data type

In [1]:
num1=5
print(num1, 'is of type', type(num1))

num2=2.0
print(num2, 'is of type', type(num2))

num3=1+2j
print(num3, 'is of type', type(num3))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [2]:
#list
languages=["Swift","Java","Python"]

#access elements at index 0
print(languages[0]) #Swift

#access elements at index 2
print(languages[2]) #Python

Swift
Python

In [5]:
list=['abcd', 369, 2.23, 'Uday', 70.2]
tinylist=[123, 'Uday']

print(list)           #Prints Complete list
print(list[0])        #Prints first element of list
print(list[1:3])      #Prints elements starting from 2nd till 3rd
print(list[2:])       #Prints element starting from 3rd element
print(tinylist*2)     #Prints list two times
print(list+tinylist)  #Prints conacatenated lists

['abcd', 369, 2.23, 'Uday', 70.2]
abcd
[369, 2.23]
[2.23, 'Uday', 70.2]
[123, 'Uday', 123, 'Uday']
['abcd', 369, 2.23, 'Uday', 70.2, 123, 'Uday']

In [7]:
#Create a tuple
product=('Microsoft','Xbox', 499.99)

#access element at index 0
print(product[0])
#access element at indec 1
print(product[1])

Microsoft
Xbox

In [8]:
tuple=('abcd', 369, 2.23, 'Uday', 70.2)
tinytuple=(123, 'Uday')

print(tuple)            #Prints Complete tuple
print(tuple[0])         #Prints first element of tuple
print(tuple[1:3])       #Prints elements starting from 2nd till 3rd
print(tuple[2:])        #Prints element starting from 3rd element
print(tinytuple*2)      #Prints tuple two times
print(tuple+tinytuple)  #Prints conacatenated tuple

('abcd', 369, 2.23, 'Uday', 70.2)
abcd
(369, 2.23)
(2.23, 'Uday', 70.2)
(123, 'Uday', 123, 'Uday')
('abcd', 369, 2.23, 'Uday', 70.2, 123, 'Uday')

In [9]:
#Python String Data Type
name='Python'
print(name)

message='Python for beginners'
print(message)

Python
Python for beginners

In [14]:
str='Python for beginners '

print(str)           #Prints Complete tuple
print(str[0])        #Prints first element of tuple
print(str[1:3])      #Prints elements starting from 2nd till 3rd
print(str[2:])       #Prints element starting from 3rd element
print(str*2)         #Prints tuple two times
print(str + "Test")  #Prints conacatenated tupl

Python for beginners
P
yt
thon for beginners
Python for beginners Python for beginners
Python for beginners Test

In [15]:
#Python set Data type
#Create a set named student_id
student_id={112,114,116,118,115}

#display student_id elements
print(student_id)

#display type of student_id
print(type(student_id))

{112, 114, 115, 116, 118}
<class 'set'>

In [17]:
#Python Dictionary Data type
#Create a dictionary named capital_city
capital_city={'Nepal':'Kathmandu','Italy':'Rome','England':'London'} 
print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [18]:
#Access Dictionary calues using keys
print(capital_city['Nepal'])

Kathmandu

In [20]:
dict={}
dict['one']='This is one'
dict[2]='This is two'
tinydict={'name':'Uday','code':560076,'dept':'RPA'}

print(dict['one'])            #Prints value for 'one' key
print(dict[2])                #Prints value for the second key
print(tinydict)               #Prints complete dictionary
print(tinydict.keys())        #Prints all keys
print(tinydict.values())      #Prints all values

This is one
This is two
{'name': 'Uday', 'code': 560076, 'dept': 'RPA'}
dict_keys(['name', 'code', 'dept'])
dict_values(['Uday', 560076, 'RPA'])

In [21]:
#Python Boolean Data Types

a=True
#display the value of a
print(a)

#display the data type of a
print(type(a))

True
<class 'bool'>

In [22]:
#Returns false as a is not equal to b
a=2
b=4
print(bool(a==b))

#following also prints the same
print(a==b)

#Return False as a is None
a=None
print(bool(a))

#Retuen false as a is an empty sequence
a=()
print(bool(a))

#Returns fasle as a is 0
a=0.0
print(bool(a))

#Return True as a is 10
a=10
print(bool(a))

False
False
False
False
False
True

## Python Data Type Conversion

In [23]:
integer_number=123
float_number=1.23

new_number=integer_number+float_number

#display new value and resulting data type
print("Value: ",new_number)
print("Data Type: ",type(new_number))

Value:  124.23
Data Type:  <class 'float'>

In [3]:
a=int(1)
b=int(2.7)
c=int("3")

print(a)
print(b)
print(c)

1
2
3

In [25]:
a=float(1)
b=float(2.2)
c=float("3")

print(a)
print(b)
print(c)

1.0
2.2
3.0

In [26]:
#ord() : this function is used to convert a character to integer
#hex() : this function is used to convert an integer to hexadecimal string
#oct() : this function is used to convert an integer to octal string

#initializing integer
s='4'

#printing character converting to integer
c=ord(s)
print("After converting character to integer :",end="")
print(c)

#printing convert an integer to hexadecimal string
c=hex(56)
print("After converting 56 to hexadecimal string :",end="")
print(c)

#printing convert an integer to octal string
c=oct(56)
print("After converting 56 to an octal String :",end="")
print(c)

After converting character to integer :52
After converting 56 to hexadecimal string :0x38
After converting 56 to an octal String :0o70